
$main-color: rgb(69, 169, 107);
$text-color: #181818;
$backgrond-C:rgb(39, 31, 28);
$logo-f:"Delius";
$fonts:"Gowun Batang";

body {
    margin: 0;
    padding: 0;
    color: $text-color;
}
// headers-----------------------------------------------------------------------------------------------------
.Head{
    height: 6rem; display: flex; justify-content: space-around; align-items: flex-end; padding-bottom: 1rem;
    background-color: $backgrond-C; position: relative;
}
.headB a{color: $main-color; text-decoration: none; font-family: $logo-f, serif;  font-size: 2.5rem;}
.headM{
    display: flex; justify-content: space-around;
}
.headM>ul{
    list-style: none; gap: 1.8rem;
    display: flex; justify-content: space-around;
}
.headM>ul li{
    border-bottom: 1px solid rgba(255, 255, 255, 0); transition: 0.3s;
    width: 3rem; text-align: center; transform: translateY(0.5rem);
}
.headM>ul li:hover{
    border-bottom: 1px solid white;
}
.headM a{
    font-size: 1rem; color: white; text-decoration: none; font-family: $fonts;
}
.home{
    width: 90%; margin: auto; text-align: center;
}

// headers end-----------------------------------------------------------------------------------


// sub All ---------------------------------------------------------------------------------------------
.bookListpage{width: 100vw; position: relative;}
.listBook{width: 85%; margin: auto; position: relative;}
.listBook>div:nth-child(1){
    width: 85%; height: 3rem; margin: 2rem auto; display: flex; align-items: center; gap: 1.5rem;
    border-bottom: 1px solid $backgrond-C;
}
.listBook>div:nth-child(1) h2{font-size: 2.5rem; font-family: $fonts; color: $backgrond-C;}
.bookListBtn{display: flex; height: 2rem; display: flex; justify-content: left; gap: 1rem; align-items: end;}
.bookListBtn button{
    width: 3rem; height: 1.5rem; display: block; border:1px solid $main-color;
    cursor: pointer; border-radius: 0.5rem;
}
.bookListBtn button:hover{background-color: $main-color; color: $backgrond-C;}

.listBook>div:nth-child(2){
    width: 85%; margin: auto; display: flex; align-items: start; justify-content: space-between; padding: 1rem;
    flex-wrap: wrap; padding-bottom: 3rem;
}
.booklistItem{
    width: 15rem; height: 20rem; cursor: pointer; display: flex; flex-direction: column; align-items: center; justify-content: center;
}
.booklistItem>div:nth-child(1){width: 90%; height: 75%;}
.booklistItem>div:nth-child(1) img {width: 100%; height: 100%; object-fit: cover;}
.booklistItem>div:nth-child(2){display: flex; flex-direction: column; gap: 0.2rem; align-items: center;}
.booklistName{font-size: 1rem; font-weight: 600;}
.booklistBook{font-size: 0.7rem;}
.booklistPri{font-size: 0.6rem; color: #686868;}


// book event---------------------------------------------------------------------------------------------------
.eventBox{width: 85%; position: relative; margin: auto}
.eventTit{width: 100%; height: 2.5rem; text-align: center; margin-top: 2rem; font-size: 2.5rem; font-family: $fonts; color: $backgrond-C; font-weight: 600;}
.eventBox>div:nth-child(2){
    width: 100%; height: 20rem; margin: 5rem auto; display: flex; justify-content: space-between; 
}
.eventBox>div:nth-child(2)>div{width: 50%; height: 20rem; position: relative; }
.eventBan img{width: 100%; height: 20rem; object-fit: contain; }

.eventDay{border: 0.2rem solid $backgrond-C; background-color: rgb(131, 168, 145); border-radius: 2rem; overflow: hidden;}
.eventDay>div:nth-child(1){position: absolute; width: 100%; height: 70%; bottom: 0;}
.eventDay>div:nth-child(1) img{width: 100%; height: 100%; object-fit: cover;}
.eventDay>div:nth-child(2){text-align: center; font-family: $fonts; font-size: 2rem; margin-top: 0.5rem;}
.eventDay>div:nth-child(3){text-align: center; font-size: 1.2rem; font-family: $logo-f; margin-top: 1.5rem;}



.enentList{width: 90%; margin: auto; margin-top: 3rem;}
.subEv{width: 100%; text-align: center; font-size: 1.5rem; font-family: $fonts; font-weight: 600;}
.enentList>div:nth-child(2){
    margin-top: 2rem; width: 100%; padding: 1rem;
    border: 1px solid black; margin-bottom: 3rem;
}
.evBookdiv{
    width: 95%; height: 1.2rem; border-bottom: 1px solid black; padding: 1rem;
    display: flex; justify-content: space-between; align-items: center;
}
.evBookdiv>div:nth-child(1){
    width: 2rem; text-align: center; 
}
.evBookdiv>div:nth-child(2){
    width: 80%; 
}
.evBookdiv>div:nth-child(3){
    font-size: 0.7rem; color: #4b4b4b; 
}


// footer -------------------------------------------------------------------------------------
.Footers{
    width: 100%; position: relative; bottom: 0;
    height: 4rem; background-color: $backgrond-C;
    display: flex; justify-content: center; align-items: center;
}
.Footers>div{color: white; font-size: 0.8rem;}